.recipe {
    height: 152px;
    padding: 10px;
    display: inline-block;
    overflow: hidden;
    background: #c7c7c7;
    border: 1px solid #c3baba;
    border-radius: 5px;
    font-size: 0;
    line-height: 0;
    float: left;
    position: relative;
}

.recipe_input, .recipe_output {
    display: inline-block;
    width: 132px;
    height: 132px;
    float: left;
}

.recipe_output {
    position: relative;
}

.recipe i{
    width: 42px;
    height: 42px;
    display: inline-block;
    background-color: #8b8b8b;
    box-shadow: 1px 1px 0 0 #fff, inset 1px 1px 0 0 #373737;
    margin: 1px;
    position: relative;
}

.recipe_smelting .recipe_input i, .recipe_blasting .recipe_input i, .recipe_smoking .recipe_input i{
    position: absolute;
    left: 44px;

}

.recipe_smelting .recipe_input i:nth-child(2), .recipe_blasting .recipe_input i:nth-child(2), .recipe_smoking .recipe_input i:nth-child(2){
    top: 94px;
}

.recipe_input i:before {
    top: 5px;
    left: 5px;
}

.recipe_output i{
    width: 52px;
    height: 52px;
    position: absolute;
    top: 40px;
    right: 0;
}

.recipe_output i::before{
    top: 10px;
    left: 10px;
}

.recipe_output i::after {
    content: "➔";
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    color: rgb(139, 139, 139);
    position: absolute;
    left: -55px;
    top: 25px;
    text-shadow: white 1px 1px 0px;
}

.recipe_smelting::before {
    content: "Печь";
    position: absolute;
    top: 76px;
    left: 7px;
}

.recipe_smelting:before{
    color: #404040;
    font-size: 16px;
    transform: rotate(-90deg);
}

.recipe_smelting .recipe_input:after{
    background: url(../SRC/furnace.gif) no-repeat;
    position: absolute;
    width: 36px;
    height: 36px;
    content: "";
    left: 50px;
    top: 55px;
}

.recipe_smelting .recipe_output i::after {
    left: -80px;
    color: #fff;
    text-shadow: 1px 1px 0 #8b8b8b;
}

.recipe_smithing::before {
    content: "Стол кузнеца";
    color: #404040;
    position: absolute;
    top: 15px;
    left: 10px;
    font-size: 16px;
}

.recipe_smithing .recipe_input:after {
    content: "+";
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    color: #8b8b8b;
    position: absolute;
    left: 65px;
    top: 75px;
    text-shadow: 1px 1px 0 #fff;
}

.recipe_smithing .recipe_input i {
    position: absolute;
    top: 56px;
}

.recipe_smithing .recipe_input i:nth-child(2) {
    position: absolute;
    top: 56px;
    left: 105px;
}

.recipe_blasting::before {
    content: "Плавильная печь";
    position: absolute;
    top: 76px;
    left: -38px;
}

.recipe_blasting:before{
    color: #404040;
    font-size: 16px;
    transform: rotate(-90deg);
}

.recipe_blasting .recipe_input:after{
    background: url(../SRC/furnace.gif) no-repeat;
    position: absolute;
    width: 36px;
    height: 36px;
    content: "";
    left: 50px;
    top: 55px;
}

.recipe_blasting .recipe_output i::after {
    left: -80px;
    color: #fff;
    text-shadow: 1px 1px 0 #8b8b8b;
}

.recipe_smoking::before {
    content: "Коптильня";
    position: absolute;
    top: 76px;
    left: -15px;
}

.recipe_smoking:before{
    color: #404040;
    font-size: 16px;
    transform: rotate(-90deg);
}

.recipe_smoking .recipe_input:after{
    background: url(../SRC/furnace.gif) no-repeat;
    position: absolute;
    width: 36px;
    height: 36px;
    content: "";
    left: 50px;
    top: 55px;
}

.recipe_smoking .recipe_output i::after {
    left: -80px;
    color: #fff;
    text-shadow: 1px 1px 0 #8b8b8b;
}

.recipe_stonecutting::before{
    content: "Камнерез";
    position: absolute;
    top: 15px;
    left: 10px;
    color: rgb(64, 64, 64);
    font-size: 16px;
}
.recipe_stonecutting .recipe_input i{
    position: absolute;
    left: 40px;
    top: 54px;
}
.recipe_stonecutting .recipe_output i {
    right: 50px;
}

.recipe_campfire::before{
    content: "Костёр";
    position: absolute;
    top: 15px;
    left: 10px;
    color: rgb(64, 64, 64);
    font-size: 16px;
}

.recipe_campfire .recipe_input i{
    position: absolute;
    left: 50px;
    top: 54px;
}
.recipe_campfire .recipe_output i {
    right: 50px;
}

.recipe_campfire .recipe_output i::after{
    color: white;
}

.recipe_control{
    margin-left: 15px;
    float: left;
}

.recipe_control-btn{
    width: 24px;
    height: 50px;
    padding-top: 15px;
    text-align: center;
    background: #232323;
    color: #5d5d5d;
}

.recipe_control-index{
    height: 52px;
    padding-top: 16px;
    color: white;
}
