:root {
    --width:10px;
    --rounding: 30px;
    --color:#474747;
    --back:#302f2f;
    --hover:#6f6f6f;
}

.scrollbar {
    overflow-y: scroll;
    height: 100%;
}

.scrollbar::-webkit-scrollbar {width: var(--width); }
.scrollbar::-webkit-scrollbar-track {background-color: var(--back); border-radius: var(--rounding);}
.scrollbar::-webkit-scrollbar-thumb {background-color: var(--color); border-radius: var(--rounding);}
.scrollbar::-webkit-scrollbar-thumb:hover{background-color:var(--hover); }
