body{
    width: 1600;
    background: url(../src/back-ground.png);
    background-color:rgb(34, 51, 58);

}

header{
    background-color: rgb(34,51,58);
    display: flex;
    height: 73px;
}

header a img{
    margin-top: 10px;
    width: 300px;
    height: auto;
}

header div{
    display: flex;
    align-items: stretch;
    position: fixed;
    right: 0px;
    top: 10px;
    height: auto;
    width: 450px;
    padding: 10px;
}

.select {
    height: 30px;
    position: relative;
    margin: 0 auto;
    background-color: white;
}

input{
    background-color: white;
    height: 100%;
    padding:4px 10px;
    font-size:12px;

}

.search {
    width: 950px;
}

.submit{
    height: 100%;
    width:80px;
    background-color:white;  
    color:#000000;
    font-size:12px;
}

.page{
    border-radius: 10px;
    width: 72%;
    float: left;
}

.craffting-app_wrapper {
    margin: 15px 0;
    overflow: hidden;
    height: auto;
}

.crafting-app__recipe {
    overflow: hidden;
    display: inline-block;
    margin-right: 15px;
    float: left;
}

.recipe {
    height: 152px;
    padding: 10px;
    display: inline-block;
    overflow: hidden;
    background: #c7c7c7;
    border: 1px solid #c3baba;
    border-radius: 5px;
    font-size: 0;
    line-height: 0;
    float: left;
    position: relative;
}

.recipe_input, .recipe_output {
    display: inline-block;
    width: 132px;
    height: 132px;
    float: left;
}
.recipe_output {
    position: relative;
}

.recipe_smelting .recipe_input i{
    position: absolute;
    left: 44px;
}

.recipe_smelting .recipe_input i:nth-child(1){
    top: 94px;
}

.recipe i {
    width: 42px;
    height: 42px;
    display: inline-block;
    background-color: #8b8b8b;
    box-shadow: 1px 1px 0 0 #fff, inset 1px 1px 0 0 #373737;
    margin: 1px;
    position: relative;
}

.recipe i:before {
    top: 5px;
    left: 5px;
}

.recipe_output i {
    width: 52px;
    height: 52px;
    position: absolute;
    top: 40px;
    right: 0;
}

.recipe_output i::after {
    content: "➔";
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    color: rgb(139, 139, 139);
    position: absolute;
    left: -55px;
    top: 25px;
    text-shadow: rgb(255, 255, 255) 1px 1px 0px;
}

.recipe_smelting::before {
    content: "Печь";
    position: absolute;
    top: 76px;
    left: 7px;
}
.recipe_smelting:before{
    color: #404040;
    font-size: 16px;
    transform: rotate(-90deg);
}

.recipe_smelting .recipe_input:after{
    background: url(../SRC/furnace.gif) no-repeat;
    position: absolute;
    width: 36px;
    height: 36px;
    content: "";
    left: 50px;
    top: 55px;
}

.recipe_smelting .recipe_output i::after {
    left: -80px;
    color: #fff;
    text-shadow: 1px 1px 0 #8b8b8b;
}

.crafting-app__ingredients{
    display: inline-block;
    float: left;
    margin-left: 24px;
}

.crafting-app__ingredients ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-flow: column wrap;
    margin: 13px 0 0 0;
    height: 122px;
}

.crafting-app__ingredients ul li {
    width: 190px;
    float: left;
    margin-bottom: 8px;
    height: 32px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.crafting-app__ingredients ul li i {
    width: 32px;
    height: 32px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
}

.recipe_smithing::before {
    content: "Стол кузнеца";
    position: absolute;
    top: 15px;
    left: 10px;
    font-size: 16px;
}

.recipe_smithing .recipe_input:after {
    content: "+";
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    color: #8b8b8b;
    position: absolute;
    left: 65px;
    top: 75px;
    text-shadow: 1px 1px 0 #fff;
}

.recipe_smithing .recipe_input i {
    position: absolute;
    top: 56px;
}

.recipe_smithing .recipe_input i:nth-child(1) {
    position: absolute;
    top: 56px;
    left: 105px;
}
.crafting-app__items{
    height: 520px;
    width: 100%;
}

.crafting-app .vb .vb-content {
    padding-right: 10px;
}

.crafting-app__item{
    position: relative;
    display: inline-block;
    width: 44px;
    height: 44px;
    cursor: pointer;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.crafting-app__item:before{
    top: 6px;
    left: 6px;
}

i.crafting-app__item:hover{
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
    background-color: rgb(201, 189, 189)
}
