body{
    background: url(../src/back-ground.png);
    background-color:rgb(34, 51, 58);
}

.container {
    width: 1120px !important;
    padding-left: 10px;
    padding-right: 10px;
}

.scrollbar {
    overflow-y: scroll;
    height: 100%;
    width: 100%;
}

.scrollbar::-webkit-scrollbar {width: 7px; }
.scrollbar::-webkit-scrollbar-track {background: transparent; }
.scrollbar::-webkit-scrollbar-thumb {background-color: rgba(68,68,68,0.91); border-radius: 10px;}

.page{
    width: 100%;
    float: left;
    padding-bottom: 15px;
    font-family: Tahoma,Arial,sans-serif;
    background: url(../SRC/box_body_background.png) #1e1e1e;
    border-radius: 3px 3px;
    box-shadow: 0 1px 0 0 #484848, 0 -1px 0 0 #272727, 0 2px 4px #131111;
}

.search{
    background-color: #232323 !important; 
    border: 1px solid #949292 !important; 
    box-sizing: border-box;
    color: #d8d8d8;
    font-size: 12px;
    resize: none;
    width: 100%;
}

.select {
    width: 100px;
    text-align: center;
    background-color: #232323 !important; 
    border: 1px solid #949292 !important; 
    box-sizing: border-box;
    color: #d8d8d8;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.header{
    background-color: #1e1e1e;
    border-radius: 0 0 5px 5px;
    width: 100%;
}

header{
    height: 73px;
}

header a img{
    width: 300px;
    height: auto;
}

.craffting-app_wrapper {
    margin: 15px 0;
    overflow: hidden;
    height: auto;
}

.crafting-app__recipe {
    overflow: hidden;
    height: 152px;
}

.recipe {
    height: 152px;
    padding: 10px;
    display: inline-block;
    overflow: hidden;
    background: #c7c7c7;
    border: 1px solid #c3baba;
    border-radius: 5px;
    font-size: 0;
    line-height: 0;
    float: left;
    position: relative;
}

.recipe_input, .recipe_output {
    display: inline-block;
    width: 132px;
    height: 132px;
    float: left;
}

.recipe_output {
    position: relative;
}

.recipe_smelting .recipe_input i{
    position: absolute;
    left: 44px;
}

.recipe_smelting .recipe_input i:nth-child(1){
    top: 94px;
}

.recipe i{
    width: 42px;
    height: 42px;
    display: inline-block;
    background-color: #8b8b8b;
    box-shadow: 1px 1px 0 0 #fff, inset 1px 1px 0 0 #373737;
    margin: 1px;
    position: relative;
}

.recipe_input i:before {
    top: 5px;
    left: 5px;
}

.recipe_output i{
    width: 52px;
    height: 52px;
    position: absolute;
    top: 40px;
    right: 0;
}

.recipe_output i::before{
    top: 10px;
    left: 10px;
}

.recipe_output i::after {
    content: "➔";
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    color: rgb(139, 139, 139);
    position: absolute;
    left: -55px;
    top: 25px;
    text-shadow: white 1px 1px 0px;
}

.recipe_smelting::before {
    content: "Печь";
    position: absolute;
    top: 76px;
    left: 7px;
}

.recipe_smelting:before{
    color: #404040;
    font-size: 16px;
    transform: rotate(-90deg);
}

.recipe_smelting .recipe_input:after{
    background: url(../SRC/furnace.gif) no-repeat;
    position: absolute;
    width: 36px;
    height: 36px;
    content: "";
    left: 50px;
    top: 55px;
}

.recipe_smelting .recipe_output i::after {
    left: -80px;
    color: #fff;
    text-shadow: 1px 1px 0 #8b8b8b;
}

.recipe_smithing::before {
    content: "Стол кузнеца";
    color: #404040;
    position: absolute;
    top: 15px;
    left: 10px;
    font-size: 16px;
}

.recipe_smithing .recipe_input:after {
    content: "+";
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    color: #8b8b8b;
    position: absolute;
    left: 65px;
    top: 75px;
    text-shadow: 1px 1px 0 #fff;
}

.recipe_smithing .recipe_input i {
    position: absolute;
    top: 56px;
}

.recipe_smithing .recipe_input i:nth-child(1) {
    position: absolute;
    top: 56px;
    left: 105px;
}

.crafting-app__items{
    position: relative; 
    overflow: hidden;
    height: 515px;
    width: 100%;
    border-radius: 3px 3px;
}

.crafting-app__item{
    display: inline-block;
    position: relative;
    cursor: pointer;
    transition: .3s ease-in-out;
    margin-bottom:-6px;
    width: 44px;
    height: 44px;
    
}

.crafting-app__items i::before{
    top: 6px;
    left: 6px;
}

i.crafting-app__item:hover{
    background-color: #333
}

#crafting-app__title {
    display: flex;
    justify-content: center;
    color: whitesmoke;
    font-family: Arial;
    height: 22px;
    font-size: 20px;
    line-height: 100%;
    margin-bottom: 10px;
}

.hide{
    display: none;
}
