@media (min-width: 1200px) {
    .container-xl{
        max-width: 1020px !important
    }
}

@media screen and (max-width: 1000px) {
    header a img{
        width: 100% !important;
    }

    div#crafting-app__title{
        height: 46px;
    }
    .container-xl{
        padding: 0;
    }
}

body{
    background: url(../src/back-ground.png);
    background-color:rgb(34, 51, 58);
}

.page{
    padding-bottom: 15px;
    background: url(../SRC/box_body_background.png);
    border-radius: 3px;
    box-shadow: 0 1px 0 0 #484848, 0 -1px 0 0 #272727, 0 2px 4px #131111;
}

.header{
    background-color: #1e1e1e;
    width: 100%;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 1px 0 0 #484848, 0 -1px 0 0 #272727, 0 2px 4px #131111;
}

header{
    height: auto;
}

header a img{
    width: 300px;
    height: auto;
    padding-bottom: -10px;
}

.search{
    background-color: #232323 !important; 
    border: 1px solid #949292 !important; 
    box-sizing: border-box;
    color: #d8d8d8 !important;
    font-size: 12px;
    resize: none;
    width: 100%;
}

.hide{
    display: none;
}